<body class="space-y-4">
<button [routerLink]="['/admin']" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
  Tilbage
</button>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3">ID</th>
      <th scope="col" class="px-6 py-3">Bruger ID</th>
      <th scope="col" class="px-6 py-3">Location ID</th>
      <th scope="col" class="px-6 py-3">Pris</th>
      <th scope="col" class="px-6 py-3">Købstidspunkt</th>
      <th scope="col" class="px-6 py-3">Gennemført</th>
      <th scope="col" class="px-6 py-3">Afl.tidspunkt</th>
      <th scope="col" class="px-6 py-3">Hentet</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of data" class="bg-white border-b">
      <th routerLink="/admin/orders/{{ order.id }}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap cursor-pointer">
        {{ order.id }}
      </th>
      <td class="px-6 py-4">{{ order.userId }}</td>
      <td class="px-6 py-4">{{ order.locationId }}</td>
      <td class="px-6 py-4">{{ order.totalPrice | currency: "DKK"}}</td>
      <td class="px-6 py-4" [ngStyle]="{'color': (order.isCompleted) ? 'black' : 'white' }">{{ order.orderTime | date:'short' }}</td>
      <td class="px-6 py-4">{{ order.isCompleted }}</td>
      <td class="px-6 py-4" [ngStyle]="{'color': (order.isPickedUp) ? 'black' : 'white' }">{{ order.pickupTime | date:'short' }}</td>
      <td class="px-6 py-4">
        <input type="checkbox" [checked]="order.isPickedUp" (change)="updateOrder(order)" class="w-4 h-4 align-middle">
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
