<p>this works</p>
<div *ngFor="let item of coffees">
  <p>
    {{item.name}}
  </p>
</div>
<div>
  <select (change)="getSelectedValue($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option *ngFor="let location of locations" value="{{location}}">{{location.shopName}}</option>
  </select>
  <button (click)="confirmOrder()" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
    Confirm Order
  </button>
</div>
