<mat-toolbar
  class="border-x border-transparent justify-between"
  style="background-color: transparent"
>
  <a routerLink="" class="text-2xl text-gray-900">Kaffekunstens Forening</a>
  <div class="space-x-12">
    <ng-container *ngIf="isLoggedIn(); then loggedIn; else loggedOut">
    </ng-container>
    <ng-template #loggedIn>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="1" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
      <a routerLink="profile" class="text-gray-900 align-text-bottom"
        >Profile</a
      >
      <a
        routerLink=""
        class="text-gray-900 align-text-bottom"
        (click)="logout()"
        >Log out</a
      >
    </ng-template>
    <ng-template #loggedOut>
      <a routerLink="signup" class="text-gray-900 align-text-bottom">Sign up</a>
      <a routerLink="login" class="text-gray-900 align-text-bottom">Log in</a>
    </ng-template>
  </div>
  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">1 items</span>
        <a routerLink="cart">View Cart</a>
      </div>
      <div class="flex justify-between font-light mb-2">
        Keyboard x 1
        <span class="font-bold">{{ "150" | currency }}</span>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
