<div class="grid grid-cols-2 gap-4 px-4 md:grid-cols-3 lg:grid-cols-4">
  <div
    class="h-80 bg-green-50 border border-green-300 text-green-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 cursor-pointer flex justify-between flex-col p-3"
    routerLink="/coffee/create"
  >
    <div>
      <p class="text-lg font-bold">Create your own coffee!</p>
    </div>
  </div>
  <div
    *ngFor="let coffee of data"
    class="h-80 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 cursor-pointer flex justify-between flex-col p-3"
    routerLink="/coffee/{{ coffee.id }}"
  >
    <p>{{ coffee.name }}</p>
    <p>{{ coffee.price | currency }}</p>
  </div>
</div>
