<ul>
  <li
    *ngFor="let coffee of coffeeList"
    class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
  >
    <div (click)="onSelect(coffee)" class="flex-auto pl-2 pr-2 cursor-pointer">
      <div class="flex">
        <p class="flex-auto translate-y-1.5">{{ coffee.name }}</p>
        <p class="translate-y-1.5">${{ coffee.price }}</p>
      </div>
      <hr class="border-gray-300" />
      <p class="line-clamp-1 translate-y-1.5">{{ coffee.description }}</p>
    </div>
    <button
      type="button"
      (click)="handleDeleteCoffee(coffee)"
      class="m-1 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded text-sm w-full sm:w-auto px-2 text-center"
    >
      x
    </button>
  </li>
</ul>
