<body class="mx-auto w-72">
  <form #formData="ngForm" (ngSubmit)="handleLogin(formData)">
    <div class="grid gap-6 mb-6 md:grid-cols-1">
      <div>
        <label
          for="username"
          class="block mb-1 text-sm font-medium text-gray-900"
          >Brugernavn</label
        >
        <input
          ngModel
          type="text"
          id="username"
          name="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        />
      </div>
      <div>
        <label
          for="password"
          class="block mb-1 text-sm font-medium text-gray-900"
          >Kodeord</label
        >
        <input
          ngModel
          type="password"
          id="password"
          name="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        />
      </div>
      <button
        type="submit"
        class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >
        Log ind
      </button>
      <p class="text-sm text-gray-900 mt-2 text-center">
        Har du ikke nogen konto?
        <a routerLink="/signup" class="text-blue-700 hover:underline"
          >Registrer her</a
        >
      </p>
    </div>
  </form>
</body>
