<p class="text-white">signup works!</p>
<form #formData="ngForm" (ngSubmit)="handleAddUser(formData)">
  <label class="text-white">Enter username: </label>
  <input ngModel type="text" name="userName" >
  <br>
  <br>
  <label class="text-white">Enter password: </label>
  <input ngModel type="text" name="password" >
  <br>
  <br>
  <label class="text-white">Enter first name: </label>
  <input ngModel type="text" name="firstName" >
  <br>
  <br>
  <label class="text-white">Enter email address: </label>
  <input ngModel type="text" name="email" >
  <br>
  <br>
  <label class="text-white">Enter phone: </label>
  <input ngModel type="text" name="phone" >
  <br>
  <br>
  <button class="bg-white" type="submit">Submit</button>
</form>


